CompileFlags:
  Add:
    - --cuda-path=/usr/local/cuda-12.8
    - --cuda-gpu-arch=sm_75
    - -I/usr/local/cuda-12.8/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -rdc=*
    - -Xcompiler*
    - --options-file
