CompileFlags:
  Add:
    - --cuda-path=${CUDA_PATH}
    - -I${CUDA_PATH}/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code*
    - -rdc=*
    - -Xcompiler*
    - --options-file
